name: globalSnippet
phrase: global snippet available regardless of language
-
hello I ama global snippet
---

name: codeQuoteLanguage
phrase: code lang
-
```$1
$0
```
---

name: string
phrase: string
-
"$1"
---
