name: printStatement
phrase: print
insertionScope: statement

$0.wrapperPhrase: print
---

language: c
-
printf($0);
---

language: cpp
-
std::cout << $0 << "\n";
---

language: java
-
System.out.println($0);
---

language: javascript | typescript | javascriptreact | typescriptreact
-
console.log($0);
---

language: python | talon | r
-
print($0)
---

language: csharp
-
Console.WriteLine($0);
---

language: rust
-
println!($0);
---
